<div>
<table>
	<tr><td><a ng-click="dashboardCtrl.viewNotifications()" class="btn btn-primary">Notifications</a></td></tr>
	<tr><td><a ng-click="dashboardCtrl.viewProjects()" class="btn btn-primary">Manage Projects</a></td></tr>
	<tr><td><a ng-click="dashboardCtrl.viewUsers()" class="btn btn-primary">Manage Users</a> </td></tr>
	<tr><td><a ng-click="dashboardCtrl.viewCategories()" class="btn btn-primary">Manage Categories</a></td></tr>
	<tr><td><a ng-click="dashboardCtrl.viewOthers()" class="btn btn-primary">Other</a></td></tr>
</table>
</div>